body {
	margin-top: 60px;
}

#nav1 {
	display: flex;
	overflow: scroll;
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	font-family: Tahoma, 'Trebuchet MS', sans-serif;
}

#nav1 a {
	color: red;
	margin-left: 2px;
	margin-right: 2px;
	font-weight: bold;
	text-decoration: none;
}
